<div class="col-md-12 page-body margin-top-50 footer">
    <footer>
        <menu alias="alias:main-menu" cache-id="main-menu" cache-fixed-duration="00:05:00" cache-tag="alias:main-menu" />
        <p>© Copyright @DateTime.Now.Year @Site.SiteName. All rights reserved</p>

        <!-- UiPasta Credit Start -->
        <div class="uipasta-credit">Based On <a href="https://www.uipasta.com" target="_blank">UiPasta</a> Templates</div>
        <!-- UiPasta Credit End -->
    </footer>
</div>