<div class="header-search open-search">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="navbar-search">
                    <form class="search-global">
                        <input type="text" placeholder="Type then enter" autocomplete="off" name="search-query" value="" class="search-global-input" />
                        <button class="search-global-btn"><i class="icon-magnifier"></i></button>
                        <div class="search-global-note">Type your search query above and then press to enter or click on icon</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="search-close close"><i class="fa fa-times"></i></button>
</div>