<div class="col-md-12 blog-post">
    <div class="post-title margin-bottom-30">
        <h1>@Model.ContentItem.Content.TitlePart.Title</h1>
    </div>
    <div>
        @await DisplayAsync(Model.Content.FlowPart)
    </div>
</div>